:root {
    --space: #121223;
    --violet: #AAB0D6;
    --water: #0C5367;
    --silver: #C4C4C4;
    --cream: #f2e9e4;
  }
  
  body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--space);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: var(--space);
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  